<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div class="form-div">
  <form id="loginForm" action="/account/login" method="post">
    <label for="email">Email:</label>
    <input type="email" name="account_email" id="email" required value="<%= locals.account_email %>">
    <label for="password">Password:</label>
    <input type="password" name="account_password" id="password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
    <ul class="password-reqs">
      <li class="password-req">Minimum 12 characters</li>
      <li class="password-req">Include 1 capital letter</li>
      <li class="password-req">Include 1 number</li>
      <li class="password-req">Include 1 special character</li>
  </ul>
    <button class="show-password-button" type="button">Show Password</button>
    <button class="form-button" type="submit">LOGIN</button>
  </form>
  <p class="change-form">No account? <a class="change-form-link" href="/account/register"> Sign-up</a></p>
</div>

<script src="/js/script.js"></script>