/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*? BODY STYLES */

body {
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', Arial, sans-serif;
}

p, a {
  font-family: 'Lato', Arial, sans-serif;
}

.main-content {
  padding: 0;
}

/*? BODY STYLES END */


/*? HEADER STYLES */

header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

header a {
  text-decoration: none;
  color: #000000;
}

.siteName {
  font-size: 2rem;
}

.LogButton {
  font-size: 1rem;
}

nav {
  background-color: #DE7E17;
  color: #000000;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  height: 50px;
  padding: 0;
}

nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/*? HEADER STYLES END*/


/*? CONTENT STYLES*/

h1 {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.hero-img {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.cta-delorean {
  position: absolute;
  width: 140px;
  top: 0;
  left: 5px;
  background-color: #FFFFFF;
  opacity: .8;
  color: #DE7E17;
  font-weight: bold;
  border: 1px solid rgb(212, 212, 212);
}

.cta-delorean h2 {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  /* font-size: 1.3rem; */
}

.cta-btn {
  border: 1px solid gray;
  background-color: #DE7E17;
  padding: 7px;
  margin-top: 10px;
  width: 70%;
  text-align: center;
  color: #000000;
  font-weight: bolder;
  cursor: pointer;
}

.cta-delorean p {
  margin: 0;
  padding: 0;
}

.reviews p:nth-child(1) {
  font-size: 1.3rem;
}

.reviews ul {
  padding-left: 18px;
}

.reviews ul li {
  margin: 15px 0;
  font-size: 1.1rem;
}

.upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
}

.upgrades p:nth-child(1) {
  font-size: 1.3rem;
  grid-column: 1/3;
}

.upgrade {
  height: 100px;
  border: 1px solid #000000;
  margin-bottom: 55px;
}

.upgrade p {
  text-align: center;
  margin: 7px 0 0 0;
  font-size: 1.1rem;
  /* text-decoration: underline;
  color: blue; */
}

.upgrades-background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #DE7E17;
}

/*? CONTENT STYLES END*/

/*? INTENVORY STYLES */

#inv-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#inv-display li {
  display: flex;
  flex-direction: column;
  list-style: none;
  border: 1px solid gray;
  border-radius: 10px;
}

#inv-display li a img {
  border-radius: 10px;
}

#inv-display hr {
  padding: 2px;
  background-color: #000000;
}

.namePrice {
  text-align: center;
}

.namePrice h2 {
  font-size: 1.2rem;
}

.namePrice span {
  font-size: 1.25rem;
}

/*? INTENVORY STYLES END*/


/**Medium View*/

@media only screen and (min-width: 40rem) {

  body {
    display: flex;
    justify-content: center;
    background-image: url("../images/site/checkerboard.jpg");
    background-size: 380px 380px;
  }

  nav ul li {
    font-size: 1.2rem;
    cursor: default;
  }

  nav ul li:hover {
    background-color: #DF5955;
  }

  .LogButton {
    font-size: 1.1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .main-content {
    width: 85%;
    background-color: #FFFFFF;
    border: 5px solid #DE7E17;
    /* border-image: linear-gradient(45deg, #DE7E17, #DF5955, #BA4F7E) 1; */
    border-radius: 10px;
    padding: 10px;
  }

  .cta-delorean {
    width: 140px;
    top: 60px;
    left: 60px;
    padding: 5px;
  }

  .cta-delorean p {
    /* font-size: 1.1rem; */
  }

  .cta-btn {
    margin-top: 20px;
    padding: 4.2px;
  }

  .cta-btn:hover {
    color: #FFFFFF;
    background-color: #DF5955;
  }

  .delorean-specs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 20px;
  }

  .upgrades {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .reviews {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 5px;
  }

  .reviews ul li {
    font-size: 1.2rem;
    margin: 35px 0;
  }

  footer p {
    font-size: 1.2rem;
  }
}

/**Large View End*/


/**Large View*/

@media only screen and (min-width: 64rem) {
  
  .main-content {
    width: 65%;
  }

  .cta-delorean {
    width: 150px;
    left: 160px;
  }

  .cta-btn {
    margin-top: 25px;
    padding: 7px;
  }
}

/**Large View End*/